/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* assets/stylesheets */
 @font-face {
   font-family: "thrones";
   src: url('game_of_thrones.ttf') format("truetype");
 }

 /* assets/fonts */
 @font-face {
   font-family: "thrones";
   src: font-url('game_of_thrones.ttf') format("truetype");
 }

body, h1 {
  margin: 0;
}

body {
  background: #2C323C;
}

.top-section {
  background: url('http://i.imgur.com/LlQhba4.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: "thrones", serif;
  letter-spacing: 5px;
  padding: 40px;
  border-bottom: 4px solid #D09A6A;
  text-align: center;
}

.top-section h1{
  margin-bottom: 20px;
}
  .top-section a {
    color: #fff;
    text-decoration: none;
  }
    .top-section a:hover {
      color: #D09A6A;
    }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.house {
  padding: 30px;
  background: #efefef;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 10px 0 0 #181A1F;
}

.house h2 {
  font-family: "thrones", serif;
  font-size: 16px;
  margin-top: 25px;
}
  .house a {
    text-decoration: none;
    color: #8A070C;
    border-top: .5px solid #D09A6A;
    border-bottom: .5px solid #D09A6A;
    padding-top: 13px;
    padding-bottom: 10px;
  }
    .house a:hover {
      color: #4C090B;
    }
